<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itmuch.cloud.study.service.mapper.SayHelloMapper">

    <select id="Sayhello" resultMap="SayhelloResultMap">
			select * from sayhello where sayhello.id=#{id}
    </select>
    <resultMap id="SayhelloResultMap" type="com.itmuch.cloud.study.entity.SayHello">
        <result property="id" column="id"/>
        <result property="say" column="say"/>
        <result property="version" column="version"/>
    </resultMap>
</mapper>